logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.tmp
/.librarian
.DS_Store
*.sublime-*
.ensime*
.vagrant
puppet/.tmp
puppet/modules/*
changes.patch
projectFilesBackUp
